<div class="card">
	<div class="card__img-wrapper">
		<img class="card__img" src="images/product.jpg" width="320" height="320" alt="">
		<button class="favorite">
			<svg class="favorite__icon" width="24" height="24">
				<use xlink:href="icons/sprite.svg#favorite"></use>
			</svg>
		</button>
	</div>
	<div class="card__body">
		<div class="card__title">
			<span class="card__brewery">Plague Brew</span>
			<span class="card__name">Forester</span>
			<span class="card__style">Пшеничное пиво (Wheat Beer)</span>
			<span class="card__price">215 ₽/шт</span>
		</div>
		<div class="counter">
			<div class="counter__body">
				<svg class="counter__minus" width="24" height="24">
					<use xlink:href="icons/sprite.svg#minus"></use>
				</svg>
				<span class="counter__number">1</span>
				<svg class="counter__plus" width="24" height="24">
					<use xlink:href="icons/sprite.svg#plus"></use>
				</svg>
			</div>
			<span class="counter__result">215 ₽</span>
		</div>
		<a class="card__link">Подробнее</a>
	</div>
</div>
