<div class="card">
	<div class="card__img-wrapper">
		<img class="card__img" src="images/product.jpg" width="260" height="260" alt="">
	</div>
	<div class="card__body">
		<div class="card__title">
			<span class="card__brewery">Plague Brew</span>
			<span class="card__name">Forester</span>
			<span class="card__style">Пшеничное пиво (Wheat Beer)</span>
			<span class="card__price">215 ₽/шт</span>
		</div>
	</div>
	<div class="card__footer">
		<a class="card__link" href="product.html">Подробнее
			<svg width="24" height="24">
				<use xlink:href="icons/sprite.svg#arrow"></use>
			</svg>
		</a>
		<div class="card__buttons">
			<button class="card__button button">Купить</button>
			<img src="images/qr-product.png" width="40" height="40" alt="QR код">
			<button class="favorite">
				<svg class="favorite__icon" width="24" height="24">
					<use xlink:href="icons/sprite.svg#favorite"></use>
				</svg>
			</button>
		</div>
	</div>
</div>
