<div class="card">
	<div class="card__img-wrapper">
		<img class="card__img" src="images/product.jpg" width="320" height="320" alt="">
		<button class="favorite">
			<svg class="favorite__icon" width="24" height="24">
				<use xlink:href="icons/sprite.svg#favorite"></use>
			</svg>
		</button>
	</div>
	<div class="card__body">
		<div class="card__title">
			<span class="card__brewery">Plague Brew</span>
			<span class="card__name">Forester</span>
			<span class="card__style">Пшеничное пиво (Wheat Beer)</span>
			<span class="card__price">215 ₽/шт</span>
		</div>
	</div>
	<div class="card__buttons">
		<a class="card__link" href="product.html">Подробнее
			<svg width="24" height="24">
				<use xlink:href="icons/sprite.svg#arrow-slider"></use>
			</svg>
		</a>
		<button class="card__button button">Добавить в корзину</button>
	</div>
</div>
