.cart-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: $color-default-white;
	padding: 2.5rem 1.5rem;
	z-index: 1001;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s, visibility 0.3s;
	border: 1px solid $color-quartz;
	width: 80%;
	text-align: center;
	box-shadow: 0 1px 10px 0px rgba(0, 0, 0, 0.1);

	&.show {
		opacity: 1;
		visibility: visible;
	}

	&__text {
		display: none;
	}

	&__text.show {
		display: block;
	}

	&__close {
		stroke: $color-black-magic;
		position: absolute;
		top: 1rem;
		right: 1rem;
	}
}
