.catalog {
	position: relative;
	padding: 5rem 0;

	&__header {
		display: flex;
		flex-direction: column;
		width: 100%;
		position: relative;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(10.9375rem, 1fr));
		column-gap: .3125rem;
		row-gap: 1rem;
		padding: 2.5rem 0;
	}

	&__filter-apply {
		margin: 0 auto;
		background-color: $color-cinnabar;
	}

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s ease, visibility 0.3s ease;
		z-index: 999;
	}

	&__overlay.open {
		opacity: 1;
		visibility: visible;
	}

	@media screen and (min-width: $vp-576) {
		&__list {
			column-gap: .625rem;
			row-gap: 1.5rem;
		}

		&__header {
			gap: 1.5rem;
		}
	}

	@media screen and (min-width: $vp-768) {
		&__list {
			grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
			column-gap: .9375rem;
			row-gap: 2rem;
		}
	}

	@media screen and (min-width: 1320px) {
		&__list {
			grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
		}
	}
}
