.contacts {
	color: $color-default-white;

	&__title {
		padding: 1.25rem 0;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	@media screen and (min-width: $vp-1200) {
		&__title {
			padding-top: 0;
		}
	}
}
