.favorites-page {
	padding: 5rem 0;
	position: relative;

	&__header {
		display: flex;
		flex-direction: column;
		width: 100%;
		position: relative;
	}

	&__orders {
		display: flex;
		row-gap: 1rem;
		column-gap: .5rem;
		flex-wrap: wrap;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(2, minmax(180px, 1fr));
		column-gap: .3125rem;
		row-gap: 1rem;
		padding: 2.5rem 0;
	}

	@media screen and (min-width: $vp-576) {
		&__header {
			gap: 1.5rem;
		}
	}

	@media screen and (min-width: $vp-768) {
		padding: 6.25rem 0;

		&__list {
			grid-template-columns: repeat(3, minmax(180px, 1fr));
		}
	}

	@media screen and (min-width: 1020px) {
		&__list {
			grid-template-columns: repeat(4, minmax(168px, 1fr));
		}
	}

	@media screen and (min-width: $vp-1200) {
		padding: 7.5rem 0;
	}

	@media screen and (min-width: 1380px) {
		&__list {
			grid-template-columns: repeat(5, minmax(168px, 1fr));
		}
	}
}
