.header {
	background-color: $color-watercourse;

	&__body {
		@include flex-between-center;

		position: relative;
		width: 100%;
		height: 5.3125rem;
	}

	&__logo {
		width: 5rem;
		height: 3.9375rem;

		img {
			width: 5rem;
			height: 3.9375rem;
		}
	}

	&__hamburger {
		width: 1.5rem;
		height: 1.5rem;

		svg {
			width: 1.5rem;
			height: 1.5rem;
		}
	}
}
