.leaders {
	position: relative;
	padding: 5rem 0;
	background-color: $color-amulet;

	&__body {
		position: relative;
		width: 100%;
		z-index: 3;
	}

	&__title {
		font: {
			size: 2rem;
			weight: 800;
		}

		color: $color-paris-daisy;
		margin-bottom: 1.5rem;

		svg {
			width: 1.5rem;
			height: 1.5rem;
			fill: $color-paris-daisy;
		}
	}

	@media screen and (min-width: $vp-768) {
		padding: 6.25rem 0;

		&__title {
			font-size: 3.062rem;
		}

		&__brewery {
			font-size: 1.25rem;
		}

		&__name {
			font-size: 2rem;
		}
	}

	@media screen and (min-width: $vp-1200) {
		padding: 7.5rem 0;

		&__title {
			font-size: 3.812rem;

			svg {
				width: 2rem;
				height: 2rem;
			}
		}
	}
}
