.menu {
	color: $color-default-white;

	&__title {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 10px;
		cursor: pointer;
		padding: 1.25rem 0;

		svg {
			width: 20px;
			height: 20px;
			stroke: $color-default-white;
			cursor: pointer;
		}
	}

	&__list {
		@include flex-column;

		max-height: 0;
		visibility: hidden;
		gap: 30px;

		&_is-open {
			max-height: 100%;
			visibility: visible;
		}
	}

	&__item {
		@include flex-column;

		gap: 5px;
	}

	&__subtitle {
		font-weight: 600;
		margin-bottom: 5px;
	}

	&__link {
		display: block;
		font-weight: 500;
		cursor: pointer;
	}

	@media screen and (min-width: $vp-1200) {
		&__title {
			padding-top: 0;

			svg {
				display: none;
			}
		}

		&__list {
			@include flex-column;

			gap: 30px;
			visibility: visible;
			max-height: 100%;
		}

		&__item {
			@include flex-column;

			gap: 5px;
		}

		&__subtitle {
			font-weight: 800;
			margin-bottom: 5px;
		}

		&__link {
			display: block;
			font-weight: 500;
			cursor: pointer;
		}
	}
}
