.nav {
	position: fixed;
	top: 0;
	right: -100%;
	width: 90vw;
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: $color-mint-cream;
	padding: 0 0 2.5rem;
	transition: 0.3s;
	overflow-x: hidden;
	overflow-y: auto;
	opacity: 0;
	visibility: hidden;

	&_is-open {
		right: 0;
		opacity: 1;
		visibility: visible;
		z-index: 1004;
	}

	&__header {
		height: 5.3125rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #ddd;
	}

	&__close {
		cursor: pointer;
		stroke: black;
	}

	&__list {
		@include flex-column;

		gap: 1.25rem;
		margin-top: 2.5rem;
	}

	&__item {
		@include flex-column;

		margin-bottom: .5rem;
	}

	&__subtitle {
		font-weight: 800;
		margin-bottom: 1rem;

		&_new,
		&_leaders {
			margin-bottom: 0;
			cursor: pointer;
		}
	}

	&__link {
		display: block;
		font-weight: 500;
		cursor: pointer;
	}

	@media screen and (min-width: $vp-768) {
		&__list {
			@include flex-row-wrap;

			justify-content: space-between;
		}
	}

	@media screen and (min-width: $vp-1200) {
		left: 0;
		height: auto;
		box-shadow: 0 1px 10px 0px rgba(0,0,0,.1);
		width: 100%;
		top: 5.3125rem;

		&__header {
			display: none;
		}

		&__title {
			display: none;
		}
	}
}
