.nav-icons {
	display: flex;
	align-items: center;
	gap: 1rem;
	height: 5.3125rem;

	&__item {
		&_hamburger {
			display: block;
		}

		&_cancel {
			display: none;
			stroke: $color-default-white;
		}
	}

	&__link {
		display: block;
		width: 1.5rem;
		height: 1.5rem;

		&_title {
			display: none;
		}

		svg {
			width: 1.5rem;
			height: 1.5rem;
			stroke: $color-default-white;
			transition: 0.3s;
		}
	}

	&__item_favorite {
		svg {
			color: transparent;
		}
	}

	&__login-btn {
		display: none;
	}

	@media screen and (min-width: $vp-1200) {
		&__item_hamburger {
			order: 1;
			height: 5.3125rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		&__item_orders {
			@include flex-row-wrap;

			order: 2;
			gap: 1rem;
		}

		&__item_favorite {
			order: 3;
			margin-left: 1rem;
		}

		&__item_basket {
			order: 3;
			margin-right: 1rem;
		}

		&__item_login {
			order: 3;
		}

		&__link_hamburger {
			display: none;
		}

		&__link_orders {
			display: none;
		}

		&__link_title {
			width: auto;
			height: 5.3125rem;
			display: flex;
			align-items: center;
			color: $color-default-white;
			transition: 0.3s;

			&:hover {
				opacity: .8;
			}
		}

		&__login-btn {
			display: block;
			width: 18.75rem;
		}

		&__login-link {
			display: none;
		}
	}
}
