.order-check {
	padding: 5rem 0;

	&__wrapper {
		margin-top: 2rem;
		width: 100%;
	}

	&__form {
		form {
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}
	}

	&__phone {
		display: flex;
		flex-direction: column;

		input {
			width: 100%;
			border: none;
			outline: none;
			border: 1px solid $color-quartz;
			padding: .625rem;
		}
	}

	&__captcha {
		display: flex;
		flex-direction: column;

		input {
			width: 100%;
			border: none;
			outline: none;
			border: 1px solid $color-quartz;
			padding: .625rem;
		}

		img {
			margin-bottom: .5rem;
		}
	}

	&__button {
		margin-top: 1.25rem;
	}

	@media screen and (min-width: $vp-576) {
		&__wrapper {
			width: 30%;
		}
	}

	@media screen and (min-width: $vp-768) {
		padding: 6.25rem 0;
	}

	@media screen and (min-width: $vp-1200) {
		padding: 7.5rem 0;
	}
}
