.projects-section {
	padding: 5rem 0;

	&__list {
		display: flex;
		overflow: hidden;
		scrollbar-width: none;
		scroll-behavior: smooth;
		gap: 1rem;
		margin: 0 auto;
	}

	&__buttons {
		margin-top: 3rem;
	}

	@media screen and (min-width: $vp-768) {
		padding: 6.25rem 0;

		&__list {
			flex-direction: column;
			max-width: 53.125rem;
			margin: 0 auto;
			gap: 4rem;
		}

		&__buttons {
			display: none;
		}
	}

	@media screen and (min-width: $vp-1200) {
		padding: 7.5rem 0;

		&__list {
			gap: 7.5rem;
		}
	}
}
