.slider {
	display: flex;
    flex-direction: column;

	&__list {
		display: flex;
		overflow: hidden;
		scrollbar-width: none;
		scroll-behavior: smooth;
		min-height: 21.25rem;
		max-width: 86.25rem;
		max-height: 21.25rem;
		gap: 1rem;
	}

	&__list::-webkit-scrollbar {
		display: none;
	}

	&__item {
		transition: transform 0.3s ease-in-out;
		min-width: 21.25rem;
		min-height: 21.25rem;
		max-width: 21.25rem;
		max-height: 21.25rem;
	}

	&__buttons {
		display: flex;
		gap: .5rem;
		justify-content: center;
		margin-top: 1rem;
	}

	&__button {
		&.is-hidden {
			visibility: hidden;
			opacity: 0;
		}

		svg {
			width: 3.9375rem;
			height: 1rem;
			fill: $color-watercourse;
		}
	}

	#slider__button_next svg {
		transform: scaleX(-1);
	}

	@media screen and (min-width: $vp-1200) {
		&__item {
			min-width: 20.8125rem;
			min-height: 20.8125rem;
			max-width: 20.8125rem;
			max-height: 20.8125rem;
		}
	}
}
