.slider {
	display: flex;
    flex-direction: column;
	position: relative;

	&__list {
		display: flex;
		overflow: hidden;
		scrollbar-width: none;
		scroll-behavior: smooth;
		gap: .3125rem;
	}

	&__list::-webkit-scrollbar {
		display: none;
	}

	&__item {
		display: flex;
		flex-direction: column;
		transition: transform 0.3s ease-in-out;
		min-width: 12.5rem;
	}

	&__button {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 2.5rem;
		height: 2.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $color-default-white;
		border-radius: 50%;
		border: 1px solid $color-quartz;
		cursor: pointer;

		svg {
			color: $color-watercourse;
		}

		&_next {
			right: 0;
		}

		&_prev {
			left: 0;

			svg {
				transform: scale(-1);
			}
		}

		&.is-hidden {
			visibility: hidden;
			opacity: 0;
		}
	}

	@media screen and (min-width: $vp-576) {
		&__list {
			gap: 0.625rem;
		}

		&__item {
			min-width: 15rem;
		}
	}

	@media screen and (min-width: $vp-768) {
		&__list {
			gap: 0.9375rem;
		}

		&__item {
			min-width: 16.5rem;
		}
	}
}
