.social {
	display: flex;
	align-items: center;
	width: 100%;
	gap: 2rem;

	&__item {
		width: 1.5rem;
		height: 1.5rem;

		svg {
			width: 1.5rem;
			height: 1.5rem;
			transition: 0.3s;
			fill: $color-default-white;

			&:hover {
				fill: $color-cinnabar;
			}
		}
	}

	@media screen and (min-width: $vp-768) {
		gap: 2.5rem
	}

	@media screen and (min-width: $vp-1200) {
		gap: 3rem
	}
}
