.social {
	display: flex;
	align-content: center;
	justify-content: space-between;
	width: 100%;
	gap: 1.5rem;

	&__item {
		width: 1.875rem;
		height: 1.875rem;

		svg {
			width: 1.875rem;
			height: 1.875rem;
			transition: 0.3s;
			fill: $color-default-white;

			&:hover {
				fill: $color-cinnabar;
			}
		}
	}
}
