.verification {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	background-color: $color-watercourse;

	&__logo {
		position: absolute;
		top: 1.25rem;
		left: 1.25rem;
	}

	&__popup {
		max-width: 450px;
        width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 2rem 1.25rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.5rem;
		background-color: $color-default-white;
	}

	@media screen and (min-width: $vp-768)  {
		&__popup {
			padding: 40px 1.5rem;
		}
	}

	@media screen and (min-width: $vp-1200) {
		&__logo {
			top: 2.5rem;
			left: 2.5rem;
		}
	}
}
