.verification {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	background-color: $color-watercourse;

	&__logo {
		position: absolute;
		top: 1.25rem;
		left: 1.25rem;
	}

	&__body {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 0.625rem;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__popup {
		width: 100%;
		max-width: 28.125rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.5rem;
		background-color: $color-default-white;
		box-shadow: 0 1px 10px 0px rgba(0, 0, 0, 0.1);
		padding: 2rem 1.25rem;
	}

	@media screen and (min-width: $vp-1200) {
		&__logo {
			top: 2.5rem;
			left: 2.5rem;
		}
	}
}
