/* GLOBAL */
/* VIEWPORTS */
/* COLORS */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation in different browsers */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Geometria", sans-serif;
  color: #2D2B28;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* Remove default margins */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles */
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Core body settings */
body {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background-color: #FCFAF2;
}

/* Set shorter line heights for headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Optimize text wrapping in headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* Default cursor */
h1, h2, h3, h4, p, span {
  cursor: default;
}

/* Default link styles */
a {
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Optimize images and media */
img, picture, video {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inherit fonts for form elements */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  border-radius: 0;
}

/* Ensure textarea is not too small */
textarea {
  resize: none;
  min-height: 10em;
}

/* Add offset for anchored links */
:target {
  scroll-margin-block: 5ex;
}

/* Remove default form element styles */
input,
textarea,
select,
button,
[type=button],
[type=reset],
[type=submit] {
  appearance: none;
  background-color: transparent;
  padding: 0;
}

/* Remove autofill styles */
input:-webkit-autofill {
  box-shadow: inset 0 0 0 1000px #fff;
  -webkit-text-fill-color: #2D2B28;
}

/* Remove default styles for search and number input fields */
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
}

button {
  cursor: pointer;
  border: none;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.wrapper .header,
.wrapper .footer {
  flex-shrink: 0;
}
.wrapper main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.scroll-lock-ios {
  position: fixed;
  overflow: hidden;
}

.scroll-lock {
  overflow: hidden;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-transition {
  transition: none !important;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.bg-img {
  position: relative;
}
.bg-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.no-wrap {
  white-space: nowrap;
}

@font-face {
  font-family: "Geometria", sans-serif;
  src: url("../../fonts/Geometria-Bold.woff") format(woff), url("../../fonts/Geometria-Bold.woff") format(woff2);
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Geometria", sans-serif;
  src: url("../../fonts/Geometria-Heavy.woff") format(woff), url("../../fonts/Geometria-Heavy.woff") format(woff2);
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Geometria", sans-serif;
  src: url("../../fonts/Geometria-Medium.woff") format(woff), url("../../fonts/Geometria-Medium.woff") format(woff2);
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Geometria", sans-serif;
  src: url("../../fonts/Geometria.woff") format(woff), url("../../fonts/Geometria.woff") format(woff2);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 10px;
}
@media (min-width: 576px) {
  .container {
    padding: 0 20px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0 30px;
  }
}

/* COMPONENTS */
.button {
  width: 300px;
  height: 40px;
  background-color: #F04E23;
  color: #fff;
  padding: 10px;
  transition: background-color 0.3s;
  border: 2px solid transparent;
}
.button:hover {
  background-color: transparent;
  border-color: #F04E23;
}
.button:hover a {
  color: #F04E23;
}
.button a {
  color: #fff;
}

/* BLOCKS */
/* header */
.header {
  height: 5.3125rem;
  background-color: #025944;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.header__logo {
  width: 7.5rem;
  height: 2.6875rem;
}
.header__logo img {
  width: 7.5rem;
  height: 2.6875rem;
}
.header__hamburger {
  width: 1.5rem;
  height: 1.5rem;
}
.header__hamburger svg {
  width: 1.5rem;
  height: 1.5rem;
}
@media screen and (min-width: 1200px) {
  .header__logo {
    width: 10rem;
    height: 3.625rem;
  }
  .header__logo img {
    width: 10rem;
    height: 3.625rem;
  }
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 5.3125rem;
}
.nav-icons__item_hamburger {
  display: block;
}
.nav-icons__item_cancel {
  display: none;
  stroke: #fff;
}
.nav-icons__link {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
}
.nav-icons__link_title {
  display: none;
}
.nav-icons__link svg {
  width: 1.5rem;
  height: 1.5rem;
  stroke: #fff;
  transition: 0.3s;
}
.nav-icons__link svg:hover {
  stroke: #F04E23;
}
.nav-icons__login-btn {
  display: none;
}
@media screen and (min-width: 1200px) {
  .nav-icons__item_hamburger {
    order: 1;
    height: 5.3125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nav-icons__item_orders {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    order: 2;
    gap: 1rem;
  }
  .nav-icons__item_favorite {
    order: 3;
    margin-left: 1rem;
  }
  .nav-icons__item_basket {
    order: 3;
    margin-right: 1rem;
  }
  .nav-icons__item_login {
    order: 3;
  }
  .nav-icons__link_hamburger {
    display: none;
  }
  .nav-icons__link_orders {
    display: none;
  }
  .nav-icons__link_title {
    width: auto;
    height: 5.3125rem;
    display: flex;
    align-items: center;
    color: #fff;
    transition: 0.3s;
  }
  .nav-icons__link_title:hover {
    color: #F04E23;
  }
  .nav-icons__login-btn {
    display: block;
  }
  .nav-icons__login-link {
    display: none;
  }
}

.nav {
  position: fixed;
  top: 5.3125rem;
  right: -100%;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #FCFAF2;
  padding: 2.5rem 0;
  transition: 0.3s;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}
.nav_is-open {
  right: 0;
  opacity: 1;
  visibility: visible;
  z-index: 2;
}
.nav__title {
  margin-bottom: 1.5rem;
}
.nav__list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.nav__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}
.nav__subtitle {
  font-weight: 800;
  margin-bottom: 1rem;
}
.nav__subtitle_new, .nav__subtitle_leaders {
  margin-bottom: 0;
  cursor: pointer;
}
.nav__link {
  display: block;
  font-weight: 500;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    left: 0;
    height: auto;
  }
  .nav__title {
    display: none;
  }
}

.orders {
  position: fixed;
  top: 6.25rem;
  right: -100%;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #FCFAF2;
  padding: 2.5rem 0;
  transition: 0.3s;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}
.orders_is-open {
  right: 0;
  opacity: 1;
  visibility: visible;
  z-index: 2;
}
.orders__list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.orders__item {
  font-weight: 600;
}
.orders__button {
  position: absolute;
  right: 0.625rem;
  top: 0.625rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 3;
}
.orders__button svg {
  width: 1.5rem;
  height: 1.5rem;
  stroke: #2D2B28;
  transition: 0.3s;
}
.orders__button svg:hover, .orders__button svg:focus, .orders__button svg:active {
  stroke: #F04E23;
}
@media screen and (min-width: 768px) {
  .orders::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 2px;
    background-color: #025944;
  }
}
@media screen and (min-width: 1200px) {
  .orders {
    display: none;
  }
}

/* main */
.headling {
  position: relative;
  height: 70vh;
}
.headling__body {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.headling__title {
  font-size: 5rem;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
}
.headling__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 576px) {
  .headling {
    height: 100vh;
  }
  .headling__title {
    font-size: 8rem;
  }
}
@media screen and (min-width: 768px) {
  .headling__title {
    font-size: 10rem;
  }
}
@media screen and (min-width: 1200px) {
  .headling__title {
    font-size: 12rem;
  }
}

.new {
  background-color: #FAA74A;
  padding: 5rem 0;
}
.new__body {
  width: 100%;
}
.new__title {
  font-size: 2rem;
  font-weight: 800;
  color: #025944;
  margin-bottom: 1.5rem;
}
.new__title svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: #025944;
}
@media screen and (min-width: 768px) {
  .new {
    padding: 6.25rem 0;
  }
  .new__title {
    font-size: 3.062rem;
  }
}
@media screen and (min-width: 1200px) {
  .new {
    padding: 7.5rem 0;
  }
  .new__title {
    font-size: 3.812rem;
  }
  .new__title svg {
    width: 2rem;
    height: 2rem;
  }
}

.leaders {
  background-color: #829A7B;
  padding: 5rem 0;
}
.leaders__body {
  width: 100%;
}
.leaders__title {
  font-size: 2rem;
  font-weight: 800;
  color: #F7E24D;
  margin-bottom: 1.5rem;
}
.leaders__title svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: #F7E24D;
}
@media screen and (min-width: 768px) {
  .leaders {
    padding: 6.25rem 0;
  }
  .leaders__title {
    font-size: 3.062rem;
  }
}
@media screen and (min-width: 1200px) {
  .leaders {
    padding: 7.5rem 0;
  }
  .leaders__title {
    font-size: 3.812rem;
  }
  .leaders__title svg {
    width: 2rem;
    height: 2rem;
  }
}

.slider {
  display: flex;
  flex-direction: column;
}
.slider__list {
  display: flex;
  overflow: hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;
  min-height: 21.25rem;
  max-width: 86.25rem;
  max-height: 21.25rem;
  gap: 1rem;
}
.slider__list::-webkit-scrollbar {
  display: none;
}
.slider__item {
  transition: transform 0.3s ease-in-out;
  min-width: 21.25rem;
  min-height: 21.25rem;
  max-width: 21.25rem;
  max-height: 21.25rem;
}
.slider__buttons {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 1rem;
}
.slider__button_next svg {
  transform: scaleX(-1);
}
.slider__button.is-hidden {
  visibility: hidden;
  opacity: 0;
}
.slider__button_paris-daisy {
  fill: #F7E24D;
}
.slider__button_watercourse {
  fill: #025944;
}
.slider__button_cinnabar {
  fill: #F04E23;
}
.slider__button svg {
  width: 3.9375rem;
  height: 1rem;
}
@media screen and (min-width: 768px) {
  .slider__buttons {
    margin-top: 4rem;
  }
}
@media screen and (min-width: 1200px) {
  .slider__item {
    min-width: 20.8125rem;
    min-height: 20.8125rem;
    max-width: 20.8125rem;
    max-height: 20.8125rem;
  }
}

.projects-section {
  background-color: #FCFAF2;
  padding: 5rem 0;
}
.projects-section__list {
  display: flex;
  overflow: hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.projects-section__slider {
  display: flex;
  overflow: hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;
  max-width: 21.25rem;
  gap: 1rem;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .projects-section {
    padding: 6.25rem 0;
  }
  .projects-section__slider {
    flex-direction: column;
    max-width: 100%;
    margin: 0;
    gap: 4rem;
  }
}
@media screen and (min-width: 1200px) {
  .projects-section {
    padding: 7.5rem 0;
  }
}

.project {
  display: flex;
  flex-direction: column-reverse;
  gap: 4rem;
}
.project__block {
  display: flex;
  flex-direction: column;
}
.project__title {
  margin-bottom: 1rem;
}
.project__logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.project__text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2.5rem;
}
.project__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.project__button svg {
  fill: #fff;
}
.project__button:hover svg {
  fill: #F04E23;
}
.project__buttons {
  margin-top: 4rem;
}
.project__link {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  text-transform: uppercase;
}
.project__photo-bg {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 21.25rem;
  min-height: 21.25rem;
}
@media screen and (min-width: 768px) {
  .project {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .project__photo-bg {
    max-width: 31.25rem;
  }
  .project__logo {
    margin: 0;
    margin-bottom: 2rem;
  }
  .project__button {
    margin: 0;
    margin-left: auto;
  }
  .project__buttons {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .project__logo {
    margin-bottom: 3rem;
  }
  .project__text {
    margin-bottom: 4rem;
  }
  .project__buttons {
    margin-top: 5rem;
  }
}

/* footer */
.footer {
  background-color: #025944;
  padding: 3rem 0;
}
.footer__body {
  display: flex;
  flex-direction: column;
}
.footer__logo {
  margin-bottom: 5rem;
  display: block;
  width: 11.25rem;
  height: 4.125rem;
}
.footer__logo img {
  width: 11.25rem;
  height: 4.125rem;
}
.footer .col-1 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 340px;
  margin-bottom: 5rem;
}
.footer .col-1__title {
  font-size: 5rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
}
.footer .col-3 {
  margin-top: 2rem;
}
.footer .col-4 {
  margin-top: 5rem;
}
@media screen and (min-width: 576px) {
  .footer__body {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: "col-1 col-1" "col-3 col-2";
    column-gap: 1.5rem;
  }
  .footer .col-1 {
    grid-area: col-1;
  }
  .footer .col-2 {
    grid-area: col-2;
  }
  .footer .col-3 {
    grid-area: col-3;
    margin-top: 0;
  }
  .footer .col-4 {
    grid-area: col-4;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 3.75rem 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding: 5rem 0;
  }
  .footer__body {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: "col-1 col-3 col-2";
    grid-auto-columns: auto;
    grid-auto-flow: column;
    width: 100%;
    justify-content: space-between;
  }
  .footer .col-1 {
    margin-bottom: 0;
    gap: 1.5rem;
  }
}

.social {
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  gap: 1.5rem;
}
.social__item {
  width: 1.875rem;
  height: 1.875rem;
}
.social__item svg {
  width: 1.875rem;
  height: 1.875rem;
  transition: 0.3s;
  fill: #fff;
}
.social__item svg:hover {
  fill: #F04E23;
}

.menu {
  color: #fff;
}
.menu__title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  margin-bottom: 1.5rem;
  gap: 0.5rem;
}
.menu__arrow {
  width: 1rem;
  height: 1rem;
  stroke: #fff;
  cursor: pointer;
}
.menu__arrow_is-open {
  transform: rotate(180deg);
}
.menu__list {
  display: flex;
  flex-direction: column;
  max-height: 0;
  display: none;
  gap: 1.25rem;
}
.menu__list_is-open {
  max-height: 100%;
  display: flex;
}
.menu__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}
.menu__item:last-child {
  margin-bottom: 2rem;
}
.menu__subtitle {
  font-weight: 600;
  margin-bottom: 1rem;
}
.menu__subtitle_new, .menu__subtitle_leaders {
  margin-bottom: 0;
  cursor: pointer;
}
.menu__link {
  display: block;
  font-weight: 500;
  cursor: pointer;
}
@media screen and (min-width: 576px) {
  .menu__title {
    cursor: default;
  }
  .menu__title svg {
    display: none;
  }
  .menu__list {
    max-height: 100%;
    visibility: visible;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .menu__title svg {
    display: none;
  }
  .menu__list {
    display: flex;
    flex-direction: column;
    visibility: visible;
    max-height: 100%;
  }
  .menu__item {
    display: flex;
    flex-direction: column;
  }
  .menu__item:last-child {
    margin-bottom: 0;
  }
  .menu__subtitle {
    font-weight: 800;
  }
  .menu__link {
    display: block;
    font-weight: 500;
    cursor: pointer;
  }
}

.contacts {
  color: #fff;
}
.contacts__title {
  margin-bottom: 1.5rem;
}
.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.schedule {
  color: #fff;
}
.schedule__title {
  margin-bottom: 1.5rem;
}

.connection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}