@charset "UTF-8";
/* GLOBAL */
/* VIEWPORTS */
/* COLORS */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation in different browsers */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Geometria", sans-serif;
  color: #2D2B28;
  background-color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Remove default margins */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles */
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Core body settings */
body {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Set shorter line heights for headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Optimize text wrapping in headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* Default cursor */
h1, h2, h3, h4, p, span {
  cursor: default;
}

/* Default link styles */
a {
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Optimize images and media */
img, picture, video {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inherit fonts for form elements */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  border-radius: 0;
}

/* Ensure textarea is not too small */
textarea {
  resize: none;
  min-height: 10em;
}

/* Add offset for anchored links */
:target {
  scroll-margin-block: 5ex;
}

/* Remove default form element styles */
input,
textarea,
select,
button,
[type=button],
[type=reset],
[type=submit] {
  appearance: none;
  background-color: transparent;
  padding: 0;
}

/* Remove autofill styles */
input:-webkit-autofill {
  box-shadow: inset 0 0 0 1000px #FFFFFF;
  -webkit-text-fill-color: #2D2B28;
}

/* Remove default styles for search and number input fields */
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
}

button {
  cursor: pointer;
  border: none;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.wrapper .header,
.wrapper .footer {
  flex-shrink: 0;
}
.wrapper main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.scroll-lock-ios {
  position: fixed;
  overflow: hidden;
}

.scroll-lock {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-transition {
  transition: none !important;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.bg-img {
  position: relative;
  height: 100%;
}
.bg-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.no-wrap {
  white-space: nowrap;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 999; /* Теперь overlay под корзиной */
}

.overlay.open {
  opacity: 1;
  visibility: visible;
}

.title {
  font-weight: 500;
  font-size: 1.5rem;
  color: #025944;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1023px) {
  .title {
    font-size: 2.5rem;
  }
}

@font-face {
  font-family: "Geometria", sans-serif;
  src: url("../../fonts/Geometria-Bold.woff") format(woff), url("../../fonts/Geometria-Bold.woff") format(woff2);
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Geometria", sans-serif;
  src: url("../../fonts/Geometria-Heavy.woff") format(woff), url("../../fonts/Geometria-Heavy.woff") format(woff2);
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Geometria", sans-serif;
  src: url("../../fonts/Geometria-Medium.woff") format(woff), url("../../fonts/Geometria-Medium.woff") format(woff2);
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Geometria", sans-serif;
  src: url("../../fonts/Geometria.woff") format(woff), url("../../fonts/Geometria.woff") format(woff2);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 10px;
}
@media (min-width: 576px) {
  .container {
    padding: 0 20px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0 30px;
  }
}

/* COMPONENTS */
.button {
  display: block;
  width: 100%;
  max-width: 18.75rem;
  height: 2.5rem;
  color: #FFFFFF;
  padding: 0.625rem;
  background-color: #F04E23;
  font-weight: 500;
}
.button a {
  color: #F04E23;
}

.card-buttons {
  display: flex;
  gap: 0.5rem;
  margin: 0 auto;
}
.card-buttons__basket {
  position: relative;
  min-width: 2.5rem;
  height: 2.5rem;
  background-color: #F04E23;
  border: 1.5px solid transparent;
  cursor: pointer;
  transition: 0.3s;
}
.card-buttons__basket span {
  display: none;
}
.card-buttons__basket-icon {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  stroke: #FFFFFF;
  cursor: pointer;
  color: transparent;
}
.card-buttons__basket-icon_is-active {
  color: #FFFFFF;
  stroke: #FFFFFF;
}
@media screen and (min-width: 576px) {
  .card-buttons {
    margin: 0;
  }
  .card-buttons__basket {
    width: 100%;
    max-width: 18.75rem;
    height: 40px;
    background-color: #F04E23;
    color: #FFFFFF;
    padding: 10px;
    transition: background-color 0.3s;
    border: 1.5px solid transparent;
  }
  .card-buttons__basket span {
    display: block;
  }
  .card-buttons__basket-icon {
    display: none;
  }
}

.card {
  position: relative;
  max-width: 16.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.card__img-wrapper {
  position: relative;
}
.card__img-wrapper .favorite {
  position: absolute;
  top: 0;
  left: 0;
}
.card__body {
  flex-grow: 1;
  padding: 0.75rem 0.75rem 0.75rem 0;
}
.card__title {
  display: flex;
  flex-direction: column;
}
.card__brewery {
  font-size: 0.875rem;
}
.card__name {
  font-size: 1.125rem;
  font-weight: 500;
}
.card__style {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}
.card__price {
  color: #F04E23;
}
.card__link {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: lowercase;
  cursor: pointer;
  color: inherit;
  margin-bottom: 0.625rem;
}
.card__link svg {
  stroke: #2D2B28;
}
.card__button {
  color: #F04E23;
  background-color: transparent;
  border: 1px solid #F04E23;
}
.card__buttons {
  display: flex;
  justify-content: space-between;
  gap: 0.4rem;
}
.card__footer {
  margin-top: auto;
}

.favorite {
  position: relative;
  min-width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  transition: 0.3s;
}
.favorite__icon {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  stroke: #2D2B28;
  cursor: pointer;
  color: transparent;
}
.favorite__icon_is-active {
  color: #2D2B28;
  stroke: #2D2B28;
}

.counter {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 0.5rem 0;
}
.counter__result {
  font-size: 1.125rem;
}
.counter__body {
  height: 2.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 7.5rem;
  border: 1px solid #F04E23;
}
.counter__number {
  margin: 0 auto;
}
.counter__plus {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 auto;
  cursor: pointer;
}
.counter__minus {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 auto;
  cursor: pointer;
}

.pagination {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}
.pagination__pages {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.pagination__more {
  text-transform: lowercase;
  text-decoration: underline;
  font-size: 14px;
}
.pagination__arrow {
  cursor: pointer;
  stroke: #2D2B28;
  transition: opacity 0.3s;
}
.pagination__arrow_prev {
  transform: scale(-1);
}
.pagination__arrow.disabled {
  visibility: hidden;
}

.select {
  display: flex;
  gap: 0.5rem;
}
.select__wrapper {
  position: relative;
  width: 100%;
}
.select__header {
  width: 100%;
  display: flex;
  align-items: center;
  height: 2.5rem;
  padding: 0.5rem;
  border: 1px solid #E2E1E5;
  background-color: #FFFFFF;
  cursor: pointer;
}
.select__current {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
}
.select__body {
  border-top: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 100%;
  border: 1px solid #E2E1E5;
  background-color: #FFFFFF;
  border-top: none;
  overflow: auto;
  max-height: 8.75rem;
}
.select__wrapper.is-active .select__body {
  display: block;
  z-index: 2;
}
.select__arrow {
  width: 0.75rem;
  height: 0.75rem;
  stroke: #2D2B28;
}
.select__item {
  cursor: pointer;
  padding: 0.625rem;
  margin-left: auto;
}
.select__item:hover {
  background-color: #E2E1E5;
}
.select__button {
  margin: 0 auto;
  margin-top: 1.5rem;
}
@media screen and (min-width: 576px) {
  .select {
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
  }
  .select__button {
    margin: 0;
  }
}

.filter {
  position: absolute;
  top: 0;
  right: 0;
  width: 90%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #FFFFFF;
  padding: 2.5rem 0.625rem;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  z-index: 1003;
}
.filter_is-active {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0s;
  box-shadow: 0 1px 10px 0px rgba(0, 0, 0, 0.1);
}
.filter__close {
  position: absolute;
  top: 1.25rem;
  left: 0.625rem;
  stroke: #C0C0C0;
  cursor: pointer;
}
.filter__list {
  display: flex;
  flex-direction: column;
  margin: 2.5rem 0 3.5rem;
  border-top: 1px solid #E2E1E5;
}
@media screen and (min-width: 768px) {
  .filter {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    width: 40%;
  }
}

.filter-element {
  overflow: hidden;
  padding: 1.25rem 0;
  border-bottom: 1px solid #E2E1E5;
}
.filter-element__header {
  cursor: pointer;
  font-weight: 600;
  position: relative;
}
.filter-element__title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
}
.filter-element__arrow {
  width: 0.75rem;
  height: 0.75rem;
  stroke: #C0C0C0;
}
.filter-element__selected {
  display: block;
  font-weight: normal;
  margin: 0.5rem 0;
  font-size: 14px;
  cursor: pointer;
}
.filter-element__content {
  display: none;
}
.filter-element__content ul {
  display: flex;
  flex-direction: column;
  max-height: 320px;
  overflow-y: auto;
}
.filter-element__content ul li {
  cursor: pointer;
  padding: 5px 0;
  display: flex;
  align-items: center;
}
.filter-element__content ul li input {
  margin-right: 10px;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #C0C0C0;
  cursor: pointer;
}
.filter-element__content ul li input:checked {
  background-color: #E2E1E5;
}

.filter-nav {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
.filter-nav__search {
  width: 100%;
  height: 2.5rem;
  display: flex;
  gap: 0.5rem;
}
.filter-nav__search label {
  width: 100%;
}
.filter-nav__search input {
  width: 100%;
  height: 2.5rem;
  border: 1px solid #025944;
  padding: 0.625rem;
}
.filter-nav__search input::placeholder {
  font-size: 0.875rem;
  color: #025944;
}
.filter-nav__search-icon {
  min-width: 2.5rem;
  height: 2.5rem;
  background-color: #025944;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.filter-nav__search-icon svg {
  color: #FFFFFF;
}
.filter-nav__filter-button {
  max-width: 2.5rem;
  height: 2.5rem;
  border: 1px solid #025944;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
}
.filter-nav__filter-button svg {
  stroke: #025944;
}

.sticky-cart {
  position: fixed;
  right: 1.25rem;
  bottom: 1.25rem;
  z-index: 500;
  background-color: #F04E23;
  padding: 0.5rem;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s, opacity 0.3s;
  opacity: 1;
  visibility: visible;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sticky-cart svg {
  width: 1.5rem;
  height: 1.5rem;
  stroke: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .sticky-cart {
    width: 3.125rem;
    height: 3.125rem;
    right: 2.5rem;
    bottom: 2.5rem;
  }
}

/* GENERAL BLOCKS */
/* header */
.header {
  background-color: #025944;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 5.3125rem;
}
.header__logo {
  width: 5rem;
  height: 3.9375rem;
}
.header__logo img {
  width: 5rem;
  height: 3.9375rem;
}
.header__hamburger {
  width: 1.5rem;
  height: 1.5rem;
}
.header__hamburger svg {
  width: 1.5rem;
  height: 1.5rem;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 5.3125rem;
}
.nav-icons__item {
  font-weight: 500;
}
.nav-icons__item_hamburger {
  display: block;
}
.nav-icons__item_cancel {
  display: none;
  stroke: #FFFFFF;
}
.nav-icons__link {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.nav-icons__link_title {
  display: none;
}
.nav-icons__link svg {
  width: 1.5rem;
  height: 1.5rem;
  stroke: #FFFFFF;
  transition: 0.3s;
}
.nav-icons__item_favorite svg {
  color: transparent;
}
.nav-icons__login-btn {
  display: none;
}
@media screen and (min-width: 1200px) {
  .nav-icons__item_hamburger {
    order: 1;
    height: 5.3125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nav-icons__item_orders {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    order: 2;
    gap: 1rem;
  }
  .nav-icons__item_favorite {
    order: 3;
    margin-left: 1rem;
  }
  .nav-icons__item_basket {
    order: 3;
    margin-right: 1rem;
  }
  .nav-icons__item_login {
    order: 3;
  }
  .nav-icons__link_hamburger {
    display: none;
  }
  .nav-icons__link_orders {
    display: none;
  }
  .nav-icons__link_title {
    width: auto;
    height: 5.3125rem;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    transition: 0.3s;
  }
  .nav-icons__login-btn {
    display: block;
    width: 18.75rem;
    background-color: #F04E23;
    font-weight: 500;
  }
  .nav-icons__login-btn a {
    color: #FFFFFF;
  }
  .nav-icons__login-link {
    display: none;
  }
}

.nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 90vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #FFFFFF;
  padding: 0 0 2.5rem;
  transition: 0.3s;
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
}
.nav_is-open {
  right: 0;
  opacity: 1;
  visibility: visible;
  z-index: 1004;
}
.nav__header {
  height: 5.3125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E2E1E5;
}
.nav__title {
  font-weight: 500;
}
.nav__close {
  cursor: pointer;
  stroke: #C0C0C0;
}
.nav__list {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.nav__item {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  border-bottom: 1px solid #E2E1E5;
}
.nav__subtitle {
  font-weight: 600;
  margin-bottom: 1rem;
}
.nav__subtitle_category, .nav__subtitle_category, .nav__subtitle_category {
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.nav__link {
  display: block;
  font-weight: 400;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
    flex-wrap: wrap;
  }
  .nav__item {
    border: none;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    left: 0;
    height: auto;
    box-shadow: 0 1px 10px 0px rgba(0, 0, 0, 0.1);
    width: 100%;
    top: 5.3125rem;
  }
  .nav__header {
    display: none;
  }
  .nav__title {
    display: none;
  }
}

.orders {
  position: fixed;
  top: 0;
  right: -100%;
  width: 90vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #F3FFFC;
  padding: 2.5rem 0;
  transition: 0.3s;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}
.orders_is-open {
  right: 0;
  opacity: 1;
  visibility: visible;
  z-index: 4;
}
.orders__list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.orders__item {
  font-weight: 600;
}
.orders__button {
  position: absolute;
  right: 0.625rem;
  top: 0.625rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 3;
}
.orders__button svg {
  width: 1.5rem;
  height: 1.5rem;
  stroke: #2D2B28;
  transition: 0.3s;
}
@media screen and (min-width: 768px) {
  .orders::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 2px;
    background-color: #025944;
  }
}
@media screen and (min-width: 1200px) {
  .orders {
    display: none;
  }
}

.cart-sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 90%;
  height: 100vh;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  transition: right 0.3s ease-in-out;
  z-index: 1000;
}
.cart-sidebar.open {
  right: 0;
}
.cart-sidebar__content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: 0;
}
.cart-sidebar__header {
  height: 5.3125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E2E1E5;
  padding-bottom: 0.625rem;
  padding-top: 1rem;
}
.cart-sidebar__close {
  cursor: pointer;
  stroke: #C0C0C0;
}
.cart-sidebar__body {
  flex-grow: 1;
  overflow-y: auto;
  padding-top: 1rem;
}
.cart-sidebar__footer {
  padding: 1rem 0;
  text-align: center;
  margin-top: 2.5rem;
}
.cart-sidebar__checkout {
  margin: 0 auto;
  color: #FFFFFF;
  background-color: #F04E23;
  margin-top: auto;
}
@media screen and (min-width: 768px) {
  .cart-sidebar {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .cart-sidebar {
    width: 40%;
  }
}

/* footer */
.footer {
  background-color: #025944;
  padding: 3rem 0;
}
.footer__body {
  display: flex;
  flex-direction: column;
}
.footer__logo {
  margin-bottom: 5rem;
  display: block;
  width: 11.25rem;
  height: 4.125rem;
}
.footer__logo img {
  width: 11.25rem;
  height: 4.125rem;
}
.footer .col-1 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 340px;
  margin-bottom: 5rem;
}
.footer .col-1__title img {
  width: 15.625rem;
}
.footer .col-3 {
  margin-top: 2rem;
}
.footer .col-4 {
  margin-top: 5rem;
}
@media screen and (min-width: 576px) {
  .footer__body {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: "col-1 col-1" "col-3 col-2";
    column-gap: 1.5rem;
  }
  .footer .col-1 {
    grid-area: col-1;
  }
  .footer .col-2 {
    grid-area: col-2;
  }
  .footer .col-3 {
    grid-area: col-3;
    margin-top: 0;
  }
  .footer .col-4 {
    grid-area: col-4;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 3.75rem 0;
  }
  .footer .col-1 {
    gap: 2rem;
  }
  .footer .col-1__title img {
    width: 17.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding: 5rem 0;
  }
  .footer__body {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: "col-1 col-3 col-2";
    grid-auto-columns: auto;
    grid-auto-flow: column;
    width: 100%;
    justify-content: space-between;
  }
  .footer .col-1 {
    margin-bottom: 0;
    gap: 3rem;
  }
  .footer .col-1__title img {
    width: 20rem;
  }
}

.social {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 2rem;
}
.social__item {
  width: 1.5rem;
  height: 1.5rem;
}
.social__item svg {
  width: 1.5rem;
  height: 1.5rem;
  transition: 0.3s;
  fill: #FFFFFF;
}
.social__item svg:hover {
  opacity: 0.8;
}
@media screen and (min-width: 768px) {
  .social {
    gap: 2.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .social {
    gap: 3rem;
  }
}

.menu {
  color: #FFFFFF;
}
.menu__title {
  margin-bottom: 1.5rem;
  font-weight: 600;
}
.menu__arrow {
  width: 1rem;
  height: 1rem;
  stroke: #FFFFFF;
  cursor: pointer;
}
.menu__arrow_is-open {
  transform: rotate(180deg);
}
.menu__list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.menu__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}
.menu__item:last-child {
  margin-bottom: 2rem;
}
.menu__subtitle {
  font-weight: 600;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.menu__subtitle_new, .menu__subtitle_leaders {
  margin-bottom: 0;
  cursor: pointer;
}
.menu__link {
  display: block;
  cursor: pointer;
}
@media screen and (min-width: 576px) {
  .menu__title {
    cursor: default;
  }
  .menu__title svg {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu__title svg {
    display: none;
  }
  .menu__item {
    display: flex;
    flex-direction: column;
  }
  .menu__item:last-child {
    margin-bottom: 0;
  }
  .menu__link {
    display: block;
    cursor: pointer;
  }
}

.contacts {
  color: #FFFFFF;
}
.contacts__title {
  margin-bottom: 1.5rem;
  font-weight: 600;
}
.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.schedule {
  color: #FFFFFF;
}
.schedule__title {
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.connection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.address {
  color: #FFFFFF;
}
.address__title {
  margin-bottom: 1.5rem;
  font-weight: 600;
}

/* INDEX */
.headling {
  position: relative;
}
.headling__intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 22.5rem;
  width: 100%;
}
.headling__image {
  width: 100%;
  height: 90vh;
}
.headling__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.headling__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
}
.headling__title {
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 600;
}
.headling__text {
  margin-bottom: 0.5rem;
}
.headling__buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
  display: flex;
  gap: 0.5rem;
  margin-top: 1.5rem;
}
.headling__new {
  display: block;
  width: 7.5rem;
  height: 2.5rem;
  background-color: #FFFFFF;
  color: #025944;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
.headling__link {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: lowercase;
  font-weight: 500;
}
.headling__link svg {
  stroke: #FFFFFF;
}
@media screen and (min-width: 576px) {
  .headling__title {
    font-size: 2.875rem;
  }
  .headling__text {
    font-size: 1.125rem;
    max-width: 31.25rem;
  }
}

.new {
  position: relative;
  padding: 5rem 0;
  background-color: rgba(247, 150, 102, 0.05);
}
.new__body {
  position: relative;
  width: 100%;
  z-index: 3;
}
.new__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.new__header a {
  font-size: 0.75rem;
  text-transform: lowercase;
  cursor: pointer;
  color: #025944;
  text-decoration: underline;
}
.new__title svg {
  width: 1rem;
  height: 1rem;
  stroke: #025944;
}
@media screen and (min-width: 576px) {
  .new__header a {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .new {
    padding: 6.25rem 0;
  }
  .new__brewery {
    font-size: 1.25rem;
  }
  .new__name {
    font-size: 2rem;
  }
  .new__title svg {
    width: 1.5rem;
    height: 1.5rem;
    stroke: #025944;
  }
}
@media screen and (min-width: 1200px) {
  .new {
    padding: 7.5rem 0;
  }
}

.leaders {
  position: relative;
  padding: 5rem 0;
}
.leaders__body {
  position: relative;
  width: 100%;
  z-index: 3;
}
.leaders__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.leaders__header a {
  font-size: 0.75rem;
  text-transform: lowercase;
  cursor: pointer;
  color: #025944;
  text-decoration: underline;
}
.leaders__title svg {
  width: 1rem;
  height: 1rem;
  stroke: #025944;
}
@media screen and (min-width: 576px) {
  .leaders__header a {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .leaders {
    padding: 6.25rem 0;
  }
  .leaders__brewery {
    font-size: 1.25rem;
  }
  .leaders__name {
    font-size: 2rem;
  }
  .leaders__title svg {
    width: 1.5rem;
    height: 1.5rem;
    stroke: #025944;
  }
}
@media screen and (min-width: 1200px) {
  .leaders {
    padding: 7.5rem 0;
  }
}

.slider {
  display: flex;
  flex-direction: column;
  position: relative;
}
.slider__list {
  display: flex;
  overflow: hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;
  gap: 0.3125rem;
}
.slider__list::-webkit-scrollbar {
  display: none;
}
.slider__item {
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
  min-width: 12.5rem;
}
.slider__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 1px solid #E2E1E5;
  cursor: pointer;
}
.slider__button svg {
  color: #025944;
}
.slider__button_next {
  right: 0;
}
.slider__button_prev {
  left: 0;
}
.slider__button_prev svg {
  transform: scale(-1);
}
.slider__button.is-hidden {
  visibility: hidden;
  opacity: 0;
}
@media screen and (min-width: 576px) {
  .slider__list {
    gap: 0.625rem;
  }
  .slider__item {
    min-width: 15rem;
  }
}
@media screen and (min-width: 768px) {
  .slider__list {
    gap: 0.9375rem;
  }
  .slider__item {
    min-width: 16.5rem;
  }
}

.projects {
  padding: 5rem 0;
  background-color: rgba(247, 150, 102, 0.05);
}
.projects__title svg {
  width: 1rem;
  height: 1rem;
  stroke: #025944;
}
.projects__list {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(17.5rem, 1fr);
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  gap: 1.875rem;
}
@media screen and (min-width: 768px) {
  .projects {
    padding: 6.25rem 0;
  }
  .projects__title svg {
    width: 1.5rem;
    height: 1.5rem;
    stroke: #025944;
  }
}
@media screen and (min-width: 1200px) {
  .projects {
    padding: 7.5rem 0;
  }
}

.project {
  display: grid;
  grid-template-rows: auto 1fr auto;
  transition: 0.3s;
}
.project:nth-child(2) {
  position: relative;
}
.project:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  left: -0.9375rem;
  background-color: #E2E1E5;
}
.project:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  right: -0.9375rem;
  background-color: #E2E1E5;
}
.project__photo-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project__photo-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.project__title {
  margin: 2rem 0 1rem;
  font-weight: 500;
}
.project__text {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 2rem;
}
.project__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: auto;
  background-color: #F04E23;
  text-transform: lowercase;
}
.project__button svg {
  width: 0.75rem;
  height: 0.75rem;
  stroke: #FFFFFF;
}

.location__title {
  font-size: 2rem;
  font-weight: 500;
  color: #F04E23;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}
.location #map {
  width: 100%;
  height: 21.25rem;
}
@media screen and (min-width: 768px) {
  .location #map {
    height: 31.25rem;
  }
}

/* PRODUCT */
.product {
  padding: 5rem 0;
}
.product__body {
  display: flex;
  flex-direction: column;
}
.product__photo {
  width: 100%;
  height: 100%;
}
.product__card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.product__block-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-area: block-1;
}
.product__header {
  display: flex;
  flex-direction: column;
}
.product__title {
  display: flex;
  flex-direction: column;
}
.product__name {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.product__metrics {
  display: flex;
  gap: 1rem;
}
.product__block-2 {
  display: flex;
  flex-direction: column;
  margin: 2.25rem 0;
  grid-area: block-2;
}
.product__price {
  font-size: 1.25rem;
}
.product__buttons {
  display: flex;
  gap: 0.5rem;
}
.product__details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: disc;
  padding-left: 0.625rem;
}
.product__block-2 {
  background-color: rgba(247, 150, 102, 0.05);
  padding: 1rem;
  border: 1px solid #E2E1E5;
}
.product__block-3 {
  display: flex;
  flex-direction: column;
  grid-area: block-3;
  background-color: rgba(247, 150, 102, 0.05);
  padding: 1rem;
  border: 1px solid #E2E1E5;
}
.product__block-2-title {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}
.product__block-3-title {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 576px) {
  .product__block-1 {
    display: grid;
    grid-template-columns: 16.25rem 1fr;
  }
  .product__card {
    justify-content: flex-end;
  }
}
@media screen and (min-width: 768px) {
  .product__block-1 {
    height: 100%;
    display: grid;
    grid-template-columns: minmax(0, 21.875rem) 1fr;
  }
  .product__brewery {
    font-size: 1.25rem;
  }
  .product__name {
    font-size: 2rem;
  }
  .product__metrics {
    font-size: 1.25rem;
  }
  .product__photo {
    max-width: 21.875rem;
    max-height: 21.875rem;
  }
}
@media screen and (min-width: 1200px) {
  .product__body {
    display: grid;
    grid-template-areas: "block-1 block-1" "block-2 block-3";
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .product__block-2 {
    margin: 0;
    margin-top: 2rem;
  }
  .product__block-3 {
    margin-top: 2rem;
  }
}

/* VERIFICATION */
.verification {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #025944;
}
.verification__logo {
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
}
.verification__body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.625rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.verification__popup {
  width: 100%;
  max-width: 28.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  background-color: #FFFFFF;
  box-shadow: 0 1px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 2rem 1.25rem;
}
@media screen and (min-width: 1200px) {
  .verification__logo {
    top: 2.5rem;
    left: 2.5rem;
  }
}

/* LOGIN */
.login {
  width: 100vw;
  height: 100vh;
  background-color: #025944;
}
.login__logo {
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  width: 7.5rem;
  height: 2.6875rem;
}
.login__logo img {
  width: 7.5rem;
  height: 2.6875rem;
}
.login__form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.625rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 2.5rem 1.25rem;
  background-color: #FFFFFF;
}
.login__field {
  position: relative;
}
.login__field svg {
  position: absolute;
  bottom: 0.5rem;
  stroke: #025944;
}
.login__field input {
  width: 18.75rem;
  height: 2rem;
  border: none;
  outline: none;
  border-bottom: 1.5px solid #E2E1E5;
  padding-left: 2rem;
}
.login__button {
  margin-top: 2rem;
}
@media screen and (min-width: 1200px) {
  .login__logo {
    width: 10rem;
    height: 3.625rem;
    top: 2.5rem;
    left: 2.5rem;
  }
  .login__logo img {
    width: 10rem;
    height: 3.625rem;
  }
}

/* CART */
.cart {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
}
.cart__body {
  margin-bottom: 2.5rem;
}
.cart__form {
  display: flex;
  flex-direction: column;
  max-width: 56.25rem;
}
.cart__form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.cart__form-fields {
  display: flex;
  flex-direction: column;
}
.cart__form-fields span {
  font-size: 1.125rem;
  font-weight: 500;
}
.cart__form-field {
  display: flex;
  align-items: center;
  border: 1px solid #E2E1E5;
  padding: 0.625rem;
  margin-bottom: 1rem;
}
.cart__form-field:last-child {
  margin-bottom: 0;
}
.cart__form-field input {
  width: 100%;
  border: none;
  padding-left: 0.5rem;
  outline: none;
}
.cart__form-field sup {
  color: #F04E23;
}
.cart__form-textarea {
  margin: 1.5rem 0;
}
.cart__form-textarea span {
  font-size: 1.125rem;
  font-weight: 500;
}
.cart__form-textarea textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #E2E1E5;
}
.cart__checkout {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
}
.cart__summ {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 500;
}
.cart__form-button {
  max-width: 100%;
  background-color: #F04E23;
  color: #FFFFFF;
}
.cart__qr {
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;
  justify-content: flex-end;
}
.cart__qr img {
  width: 2.5rem;
  height: 2.5rem;
}
@media screen and (min-width: 576px) {
  .cart__summ {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 768px) {
  .cart__form {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
  .cart__form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .cart__form-textarea {
    margin: 0;
  }
  .cart__form-textarea textarea {
    margin: 0;
  }
  .cart__checkout {
    width: 50%;
    margin-top: 1.25rem;
    margin-left: auto;
    padding-left: 1rem;
  }
  .cart__form-button {
    margin: 0;
    margin-left: auto;
  }
}
@media screen and (min-width: 1023px) {
  .cart__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    margin-top: 2rem;
  }
  .cart__form {
    max-width: 100%;
    width: 100%;
  }
  .cart__form form {
    grid-template-columns: 1fr;
  }
  .cart__checkout {
    width: 100%;
    padding-left: 0;
  }
}

.cart-item {
  position: relative;
  margin-top: 1.25rem;
  border-bottom: 1px solid #E2E1E5;
}
.cart-item__delete {
  position: absolute;
  top: 0;
  right: 0;
  stroke: #C0C0C0;
  cursor: pointer;
}
.cart-item__title {
  display: flex;
  flex-direction: column;
}
.cart-item__brewery {
  font-size: 0.875rem;
}
.cart-item__name {
  margin-bottom: 0.75rem;
  font-weight: 500;
}
.cart-item__body {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  padding-bottom: 0.625rem;
}
.cart-item__body .counter {
  width: 100%;
}
.cart-item__desc {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
}
.cart-item__img {
  width: 5rem;
  height: 5rem;
}
.cart-item__content {
  padding-right: 1.25rem;
}
@media screen and (min-width: 576px) {
  .cart-item__img {
    width: 7.5rem;
    height: 7.5rem;
  }
}
@media screen and (min-width: 768px) {
  .cart-item__name {
    font-size: 1.25rem;
  }
  .cart-item__brewery {
    font-size: 1rem;
  }
  .cart-item__desc {
    font-size: 14px;
  }
}
@media screen and (min-width: 1023px) {
  .cart-item {
    margin-top: 0;
  }
}

.cart-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  padding: 2.5rem 1.5rem;
  z-index: 1001;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  border: 1px solid #E2E1E5;
  width: 22.5rem;
  text-align: center;
  box-shadow: 0 1px 10px 0px rgba(0, 0, 0, 0.1);
}
.cart-modal.show {
  opacity: 1;
  visibility: visible;
}
.cart-modal__text {
  display: none;
}
.cart-modal__text.show {
  display: block;
}
.cart-modal__close {
  stroke: #2D2B28;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

/* CATALOG */
.catalog {
  position: relative;
  padding: 5rem 0;
}
.catalog__header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.catalog__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10.9375rem, 1fr));
  column-gap: 0.3125rem;
  row-gap: 1rem;
  padding: 2.5rem 0;
}
.catalog__filter-apply {
  margin: 0 auto;
  background-color: #F04E23;
}
.catalog__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 999;
}
.catalog__overlay.open {
  opacity: 1;
  visibility: visible;
}
@media screen and (min-width: 576px) {
  .catalog__list {
    column-gap: 0.625rem;
    row-gap: 1.5rem;
  }
  .catalog__header {
    gap: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .catalog__list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 0.9375rem;
    row-gap: 2rem;
  }
}
@media screen and (min-width: 1320px) {
  .catalog__list {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}

/* ORDERS */
.order-check {
  padding: 5rem 0;
}
.order-check__wrapper {
  margin-top: 2rem;
  width: 100%;
}
.order-check__form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.order-check__phone {
  display: flex;
  flex-direction: column;
}
.order-check__phone input {
  width: 100%;
  border: none;
  outline: none;
  border: 1px solid #E2E1E5;
  padding: 0.625rem;
}
.order-check__captcha {
  display: flex;
  flex-direction: column;
}
.order-check__captcha input {
  width: 100%;
  border: none;
  outline: none;
  border: 1px solid #E2E1E5;
  padding: 0.625rem;
}
.order-check__captcha img {
  margin-bottom: 0.5rem;
}
.order-check__button {
  margin-top: 1.25rem;
}
@media screen and (min-width: 576px) {
  .order-check__wrapper {
    width: 30%;
  }
}
@media screen and (min-width: 768px) {
  .order-check {
    padding: 6.25rem 0;
  }
}
@media screen and (min-width: 1200px) {
  .order-check {
    padding: 7.5rem 0;
  }
}

.order-approve {
  padding: 5rem 0;
}

.order-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  padding: 1.25rem;
  z-index: 1001;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  border: 1px solid #E2E1E5;
}
.order-modal.show {
  opacity: 1;
  visibility: visible;
}
.order-modal__text {
  display: none;
}
.order-modal__text.show {
  display: block;
}

/* FAVORITES */
.favorites-page {
  padding: 5rem 0;
  position: relative;
}
.favorites-page__header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.favorites-page__orders {
  display: flex;
  row-gap: 1rem;
  column-gap: 0.5rem;
  flex-wrap: wrap;
}
.favorites-page__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(180px, 1fr));
  column-gap: 0.3125rem;
  row-gap: 1rem;
  padding: 2.5rem 0;
}
@media screen and (min-width: 576px) {
  .favorites-page__header {
    gap: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .favorites-page {
    padding: 6.25rem 0;
  }
  .favorites-page__list {
    grid-template-columns: repeat(3, minmax(180px, 1fr));
  }
}
@media screen and (min-width: 1020px) {
  .favorites-page__list {
    grid-template-columns: repeat(4, minmax(168px, 1fr));
  }
}
@media screen and (min-width: 1200px) {
  .favorites-page {
    padding: 7.5rem 0;
  }
}
@media screen and (min-width: 1380px) {
  .favorites-page__list {
    grid-template-columns: repeat(5, minmax(168px, 1fr));
  }
}