@font-face {
	font-family: "Geometria", sans-serif;
	src: url("../../fonts/Geometria-Bold.woff") format(woff),
		url("../../fonts/Geometria-Bold.woff") format(woff2);
	font-weight: 600;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Geometria", sans-serif;
	src: url("../../fonts/Geometria-Heavy.woff") format(woff),
		url("../../fonts/Geometria-Heavy.woff") format(woff2);
	font-weight: 800;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Geometria", sans-serif;
	src: url("../../fonts/Geometria-Medium.woff") format(woff),
		url("../../fonts/Geometria-Medium.woff") format(woff2);
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Geometria", sans-serif;
	src: url("../../fonts/Geometria.woff") format(woff),
		url("../../fonts/Geometria.woff") format(woff2);
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}
