@mixin flex-column {
	display: flex;
	flex-direction: column;
}

@mixin flex-row-wrap {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	flex-wrap: wrap;
}

@mixin flex-between-center {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
