.button {
	display: block;
	width: 100%;
	max-width: 18.75rem;
	height: 2.5rem;
	color: $color-default-white;
	padding: 0.625rem;
	background-color: $color-cinnabar;
	font-weight: 500;

	a {
		color: $color-cinnabar;
	}
}
