.card {
	position: relative;
	max-width: 20rem;

	&__img-wrapper {
		position: relative;

		.favorite {
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		padding: 0.75rem 0.75rem 0.75rem 0;
	}

	&__title {
		display: flex;
		flex-direction: column;
	}

	&__brewery {
		font-size: 0.875rem
	}

	&__name {
		font-size: 1.125rem;
	}

	&__style {
		font-size: .75rem;
		margin-bottom: .5rem;
	}

	&__link {
		font-size: 0.875rem;
		display: flex;
		gap: .5rem;
		text-transform: lowercase;
		cursor: pointer;
		margin-bottom: .5rem;
		color: inherit;

		svg {
			transform: scale(-1);
		}
	}

	&__button {
		font-size: .875rem;
		margin: 0 auto;
	}

	&__buttons {
		margin-top: auto;
	}
}
