.card {
    position: relative;
    max-width: 16.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &__img-wrapper {
        position: relative;

        .favorite {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &__body {
        flex-grow: 1;
        padding: 0.75rem 0.75rem 0.75rem 0;
    }

    &__title {
        display: flex;
        flex-direction: column;
    }

    &__brewery {
        font-size: 0.875rem;
    }

    &__name {
        font: {
			size: 1.125rem;
			weight: 500;
		}
    }

    &__style {
        font-size: 0.75rem;
        margin-bottom: 0.5rem;
    }

    &__price {
        color: $color-cinnabar;
    }

    &__link {
        font-size: 0.875rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        text-transform: lowercase;
        cursor: pointer;
        color: inherit;
		margin-bottom: .625rem;

        svg {
            stroke: $color-black-magic;
        }
    }

    &__button {
        color: $color-cinnabar;
		background-color: transparent;
		border: 1px solid $color-cinnabar;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
		gap: .4rem;
    }

    &__footer {
        margin-top: auto;
    }
}
