.favorite {
	position: relative;
	min-width: 2.5rem;
	height: 2.5rem;
	cursor: pointer;
	transition: .3s;

	&__icon {
		content: '';
		position: absolute;
		width: 1.5rem;
		height: 1.5rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		stroke: $color-black-magic;
		cursor: pointer;
		color: transparent;

		&_is-active {
			color: $color-black-magic;
			stroke: $color-black-magic;
		}
	}
}
