.filter-nav {
	display: flex;
	justify-content: space-between;
	gap: .5rem;

	&__search {
		width: 100%;
		height: 2.5rem;
		display: flex;
		gap: .5rem;

		label {
			width: 100%;
		}

		input {
			width: 100%;
			height: 2.5rem;
			border: 1px solid $color-watercourse;
			padding: .625rem;
		}

		input::placeholder {
			font-size: .875rem;
			color: $color-watercourse;
		}
	}

	&__search-icon {
		min-width: 2.5rem;
		height: 2.5rem;
		background-color: $color-watercourse;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		svg {
			color: $color-default-white;
		}
	}

	&__filter-button {
		max-width: 2.5rem;
		height: 2.5rem;
		border: 1px solid $color-watercourse;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		cursor: pointer;

		svg {
			stroke: $color-watercourse;
		}
	}
}
