.glass-panel {
	position: relative;
	padding: 2.5rem 1.25rem;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 20px;
	backdrop-filter: blur(20px);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(255, 255, 255, 0.2);

	@media screen and (min-width: $vp-768) {
		padding: 5rem 2.5rem;
	}
}

.blob {
	position: absolute;
	width: 300px;
	height: 300px;
	background: radial-gradient(circle, rgba(240, 78, 35, 0.7), rgba(250, 167, 74, 0.3));
	border-radius: 50%;
	filter: blur(80px);

	&:first-child {
		top: 0;
		left: 0;
	}

	&:nth-child(2) {
		top: 30%;
		right: 30%;
	}

	&:last-child {
		bottom: 0;
		right: 0;
	}
}
