.pagination {
	display: flex;
	gap: 1rem;
	flex-direction: column;
	align-items: center;

	&__pages {
		display: flex;
		align-items: center;
		gap: .5rem;
	}

	&__more {
		text-transform: lowercase;
		font-size: 0.875rem;
		padding-bottom: 1px;
		border-bottom: 1px solid $color-black-magic;
	}

	&__arrow {
		cursor: pointer;
		stroke: $color-black-magic;
		transition: opacity 0.3s;

		&_prev {
			transform: scale(-1);
		}
	}

	&__arrow.disabled {
		visibility: hidden;
	}
}
